<div class="container mt-4">
  <table class="table table-striped table-hover table-responsive">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Dni</th>
        <th scope="col">Last Name</th>
        <th scope="col">First Name</th>
        <th scope="col">Email</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let student of studentList'>
        <td>{{ student.id }}</td>
        <td>{{ student.dni }}</td>
        <td>{{ student.lastName }}</td>
        <td>{{ student.firstName }}</td>
        <td>{{ student.email }}</td>
        <td>        
          <button type="button" class="btn btn-primary btn-sm" (click)="view(ver, student)">Ver  
          </button>
          <button type="button" class="btn btn-primary btn-sm" (click)="delete(student)">Borrar  
          </button>
          
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="6">
          <form [formGroup]="studentForm" class="form-inline">
            <input class="form-control mr-2" formControlName="dni" placeholder="DNI">
            <div *ngIf="dni.touched && dni.errors?.required" class="text-danger">*campo obligatorio</div>
            <input class="form-control mr-2" formControlName="lastName" placeholder="Last Name">
            <div *ngIf="lastName.touched && lastName.errors?.required" class="text-danger">*campo obligatorio</div>
            <input class="form-control mr-2" formControlName="firstName" placeholder="First Name">
            <div *ngIf="firstName.touched && firstName.errors?.required" class="text-danger">*campo obligatorio</div>
            <input class="form-control mr-2" formControlName="email" placeholder="Email">
            <div *ngIf="email.touched && email.errors?.required" class="text-danger">*campo obligatorio</div>
            <button class="btn btn-primary" type="button" (click)="add()">Agregar Estudiante</button>
          </form>
        </td>
      </tr>
    </tfoot>
  </table>
</div>

<ng-template #ver let-modal>
    <div class="modal-header">
        <h5 class="modal-title">Informacion del estudiante</h5>
        <button class="close" aria-label="Close" (click)="modal.dismiss()"><span aria-hidden="true">&times;</span></button>
    </div>
    <div class="modal-body">
        <label>Id:</label>
        <input class="form-control" [(ngModel)]="id2" readonly>
        <label>DNI:</label>
        <input class="form-control" [(ngModel)]="dni2" ngbAutofocus>
        <label>Last Name:</label>
        <input class="form-control" [(ngModel)]="lastName2">
        <label>First Name:</label>
        <input class="form-control" [(ngModel)]="firstName2">
        <label>Email:</label>
        <input class="form-control" [(ngModel)]="email2">
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" (click)="modal.close()">Guardar Cambios</button>
    </div>